.card {
    overflow: hidden;
    position: relative;
    margin-right: 30px;
    width: 350px;
    height: 508px;
    padding: 40px 0;
    text-align: center;
    background: #FFFFFF;
    box-shadow: 0px 50px 50px -25px rgba(75, 92, 154, 0.247159);
    border-radius: 13px;
    &:last-child {
        margin-right: 0;
    }
    &_pro {
        position: relative;
        background-color:#5175FF;
    }
    &__price {
        margin-top: 40px;
        font-weight: 700;
        font-size: 56px;
        line-height: 64px;
        color: #333950;
        &_pro {
            color: white;
        }
    }
    &__descr {
        margin-top: 8px;
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        color: #333950;
        &_pro {
            color: white;
        }
    }

    &__include {
        margin: 0;
        padding: 0;
        list-style-type: none;
        margin-top: 56px;
        li {
            margin-bottom: 16px;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 28px;
            text-align: center;
            color: #747B95;
            &:last-child {
                margin: 0;
            }
        }
        &_pro {
            li {
                color: white;
            }
        }
    }
}